<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Oracle Corporation//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>intel</servlet-name>
        <servlet-class>com.fel.appenginemaps.servlets.IntelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>intel</servlet-name>
        <url-pattern>/intel</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>development</servlet-name>
        <servlet-class>com.fel.appenginemaps.servlets.DevelopmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>development</servlet-name>
        <url-pattern>/backend</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
